<div class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="map-container">
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15813.658677421994!2d110.34280839598512!3d-7.745764852731742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a58f2d747cc8d%3A0xba7c703a016a750e!2sUniversity%20of%20Technology%20Yogyakarta!5e0!3m2!1sen!2sid!4v1720935448715!5m2!1sen!2sid"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="col">
        <div class="social-media">
          <h2>Universitas Teknologi Yogyakarta</h2>
          <address>Jl. Siliwangi, Jombor Lor, Sendangadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55285</address>
          <div class="list-social-media">
            <button class="social-media-btn">
              <i class="fa-brands fa-square-facebook"></i>
            </button>
            <button class="social-media-btn">
              <i class="fa-brands fa-instagram"></i>
            </button>
            <button class="social-media-btn">
              <i class="fa-brands fa-square-twitter"></i>
            </button>
            <button class="social-media-btn">
              <i class="fa-brands fa-youtube"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
